body {
    font-family: 'Poppins' !important;
    font-size: 14px !important;
    background: #E5E5E5 !important;
    color: #504B4B;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.main-content {
    height: calc(100vh - 25px);
    left: 295px;
    position: absolute;
    width: calc(100vw - 325px) !important;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 8px;
}

/* Login form */

#background-login {
    background-color: red;
    height: 100vh;

}

button.login-btn.btn.btn-primary {
    background: #008F8F;
    border: none;
}

.btn:disabled {
    opacity: 0.3 !important;
}

.d-flex {
    display: flex
}

#loginbox {
    background-image: url("../images/loginbkg.png");
    display: flex;
    position: relative;
    height: 100vh;
}

.login-content {
    background: white;
    width: 50%;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    height: 100vh;
}

section.col-md-6.sidetoside.login-content {
    position: relative;
}

.headlogo img {
    width: 35%;
}

button.mt-3.btn-log.btn.btn-primary {
    background: #008F8F !important;
    border: none;
}

form.mt-3 {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 2rem;
}

.forgotpass {
    margin-top: 10px;
    font-size: 12px;
    text-decoration: underline;
    color: blue;
}

.a-center {
    text-align: center;
}

button.mt-3.btn-log.btn.btn-primary {
    width: 100%;
    height: 50px;
}

.main-login {
    display: flex;
}

.tgl-login {
    position: relative;
    top: 18px;
    left: -26px;
    font-size: 20px;
}

.psw {
    display: flex;
}


/*Sidebar*/
.sidebar {
    width: 280px;
    background-color: white;
    position: fixed;
    justify-content: center;
    transition: .15s ease-in-out;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
    margin: 15px;
    border-radius: 8px;
}

ul.menu-list li {
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid #D6D6D6;
    height: 35px;
}

.actions ion-icon {
    font-size: 20px;
    padding-left: 15px;
}

.actionstwo ion-icon {
    font-size: 20px;
    padding-right: 15px;
}

div#_btnEdit {
    cursor: pointer;
}

div#_btnBlock {
    cursor: pointer;
}

div#_btnDelete {
    cursor: pointer;
}

div#_btnEdit:hover {
    color: green;
}

div#_btnBlock:hover {
    color: red;
}

div#_btnDelete:hover {
    color: red;
}

span.togglepss {
    position: relative;
    top: 8px;
    left: -26px;
    font-size: 20px;
}

.is-active a {
    color: #008F8F !important;
}

ul.menu-list {
    margin-left: 50px;
    margin-right: 50px;
}

ul.menu-list a {
    text-decoration: none;
}

ul.menu-list li {
    justify-content: center;
}

ul.menu-list.pb-6.pt-6 {
    margin-bottom: 120px;
}

ul.menu-list a {
    color: white;
}

.pl-3 {
    padding-left: 0.5rem;
}

li#logout {
    border-top: 1px solid #D6D6D6;
    height: 45px;
    padding-top: 10px;
}

li#logout ion-icon {
    color: red !important;

}

ul.menu-list ion-icon {
    font-size: 20px;
}

a {
    color: rgba(107, 114, 128, 1) !important;
}

div#nicknameversion {
    font-size: 10px;
    text-align: center;
    color: #008F8F;
}

/*Mineria*/
.d-flex.mining-btn.col {
    justify-content: end;
}

.btnadd {
    border: 1px solid;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.btnadd:hover {
    color: #008F8F;
    border: 1px solid #008F8F;
}

.a-end {
    justify-content: end;
}

.ml-2 {
    margin-left: 5px;
}

tr.rowtable {
    height: 50px !important;
    background: white;
    border: 1px solid #E5E7EB;
}


tr.rowtable td:first-child {
    padding-left: 10px;
    text-transform: capitalize;
}

tr.rowtable.clickeable {
    cursor: pointer;
}

tr.rowtable.clickeable:hover {
    background: rgba(238, 238, 238, 1);
}

/*tickets*/
div#tkprev {
    border: 0.5px solid rgba(71, 71, 71, 0.1);
    list-style: none;
    display: flex;
    border-radius: 6px;
    align-items: center;
    padding-left: 50px;
    cursor: pointer;
    height: 120px;

    border-radius: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.content-mineria {
    margin-top: 20px;
}

div#tkprev:hover {
    border: 1px solid #008F8F;
}

.imgtkg {
    margin-left: 15px;
}

ul.menu-list.pb-6.pt-6 {
    padding: 0;
}

.contentticket {
    margin-left: 10px;
}

.main-dump {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    background: white;
    padding: 10px;
}


input.input.is-normal.searchinput {
    height: 40px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    width: 300px;
    padding-left: 10px;
}

button.button.btn-buscar.ml-2 {
    border: none;
    background: rgba(0, 143, 143, 1);
    width: 120px;
    color: #fff;
    border-radius: 6px;
}

.endmain.col-md-6 {
    justify-content: end;
    text-align: end;
    display: flex;
}

.limittic {
    width: 50%;
}

/*dashboard*/

.wlcmone {
    width: 100%;
    text-align: start;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    height: auto;
}

.iconwlc {
    color: rgba(255, 206, 86, 1);
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
}

.main-content-head {
    left: 295px;
    position: absolute;
    width: calc(100vw - 325px) !important;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 8px;
}

div#dash {
    height: calc(90vh - 25px);
    left: 295px;
    position: absolute;
    width: calc(100vw - 325px) !important;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 8px;
    margin-top: 106px;
}

.ticketicon {
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(238, 238, 238, 1);
    padding-top: 5px;
}

td.icontk {
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

td {
    vertical-align: baseline;
}

td.icontk {
    justify-content: center;
    text-align: center;
    align-items: center;
}

td.icontk {
    position: relative;
}

tr.table-header {
    background: #e3e3e3;
}

.headtiket.col {
    padding-top: 10px;
}

.headtiket.col h6 {
    font-size: 20px;
}

.headtiket.col {
    border-bottom: 1px solid #D6D6D6;
    margin-left: 10px;
    margin-right: 10px;
}

/*info ticket*/
.datashow {
    display: grid;
}

input.inputshow {
    height: 45px;
    border-radius: 6px;
    padding-left: 10px;
    background: #efefef;
    border: none;
}

label.labeltk {
    margin-bottom: 5px;
}

.tkt.form-floating label {
    padding-left: 26px;
}

.addusr.row {
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
}

div#create {
    text-align: end;
}

div#closeone button.btn.btn-primary {
    background: gray;
    border: none;
    width: 120px;
}

.activeus {
    background-color: green;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
    color: white;
}

.blockedus{
    background-color: red;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
    color: white; 
}