@import '~mdb-ui-kit/css/mdb.min.css';

body {
    font-family: 'Poppins' !important;
    font-size: 14px !important;
    background: #E5E5E5 !important;
    color: #504B4B;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.main-content {
    left: 295px;
    position: absolute;
    width: calc(100vw - 325px);
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 8px;
}

/* Login form */

#background-login {
    background-color: red;
    height: 100vh;

}

button.login-btn.btn.btn-primary {
    background: #008F8F;
    border: none;
}

.btn:disabled {
    opacity: 0.3 !important;
}

.d-flex {
    display: flex
}

#loginbox {
    background-image: url("../images/loginbkg.png");
    display: flex;
    position: relative;
    height: 100vh;
}

.login-content {
    background: white;
    width: 50%;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    height: 100vh;
}

section.col-md-6.sidetoside.login-content {
    position: relative;
}

.headlogo img {
    width: 35%;
}

button.mt-3.btn-log.btn.btn-primary {
    background: #008F8F !important;
    border: none;
}

form.mt-3 {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 2rem;
}

.forgotpass {
    margin-top: 10px;
    font-size: 12px;
    text-decoration: underline;
    color: blue;
}

.a-center {
    text-align: center;
}

button.mt-3.btn-log.btn.btn-primary {
    width: 100%;
    height: 50px;
}

.main-login {
    display: flex;
}

.tgl-login {
    position: relative;
    top: 18px;
    left: -26px;
    font-size: 20px;
}

.psw {
    display: flex;
}


/*Sidebar*/
.sidebar {
    width: 280px;
    background-color: white;
    position: fixed;
    justify-content: center;
    transition: .15s ease-in-out;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
    margin: 15px;
    border-radius: 8px;
}

ul.menu-list li {
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid #D6D6D6;
    height: 35px;
}

.actions ion-icon {
    font-size: 20px;
    padding-left: 15px;
}

.actionstwo ion-icon {
    font-size: 20px;
    padding-right: 15px;
}

div#_btnEdit {
    cursor: pointer;
}

div#_btnBlock {
    cursor: pointer;
}

div#_btnDelete {
    cursor: pointer;
}

div#_btnEdit:hover {
    color: green;
}

div#_btnBlock:hover {
    color: red;
}

div#_btnDelete:hover {
    color: red;
}

span.togglepss {
    position: relative;
    top: 8px;
    left: -26px;
    font-size: 20px;
}

.is-active a {
    color: #008F8F !important;
}

ul.menu-list {
    /* margin-left: 50px; */
    margin-right: 50px;
}

ul.menu-list a {
    text-decoration: none;
}

ul.menu-list li {
    justify-content: center;
}

ul.menu-list.pb-6.pt-6 {
    margin-bottom: 120px;
}

ul.menu-list a {
    color: white;
}

.pl-3 {
    padding-left: 0.5rem;
}

li#logout {
    border-top: 1px solid #D6D6D6;
    height: 45px;
    padding-top: 10px;
}

li#logout ion-icon {
    color: red !important;

}

ul.menu-list ion-icon {
    font-size: 20px;
}

a {
    color: rgba(107, 114, 128, 1) !important;
}

div#nicknameversion {
    font-size: 10px;
    text-align: center;
    color: #008F8F;
}

/*Mineria*/
.d-flex.mining-btn.col {
    justify-content: end;
}

.btnadd {
    border: 1px solid;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(0, 143, 143, 1);
    cursor: pointer;
    border: none;
    color: white;
}

.btnadd:hover {
    color: #008F8F;
    background-color: white;
    border: 1px solid #008F8F;
}

.a-end {
    justify-content: end;
}

.ml-2 {
    margin-left: 5px;
}

tr.rowtable {
    height: 50px !important;
    background: white;
    border: 1px solid #E5E7EB;
}


tr.rowtable td:first-child {
    padding-left: 10px;
    text-transform: capitalize;
}

tr.rowtable.clickeable {
    cursor: pointer;
}

tr.rowtable.clickeable:hover {
    background: rgba(238, 238, 238, 1);
}

/*tickets*/
div#tkprev {
    border: 0.5px solid rgba(71, 71, 71, 0.1);
    list-style: none;
    display: flex;
    border-radius: 6px;
    align-items: center;
    padding-left: 50px;
    cursor: pointer;
    height: 120px;

    border-radius: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.content-mineria {
    margin-top: 20px;
}

div#tkprev:hover {
    border: 1px solid #008F8F;
}

.imgtkg {
    margin-left: 15px;
}

ul.menu-list.pb-6.pt-6 {
    padding: 0;
}

.contentticket {
    margin-left: 10px;
}

.main-dump {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    background: white;
    padding: 10px;
}


input.input.is-normal.searchinput {
    height: 40px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    width: 300px;
    padding-left: 10px;
}

button.button.btn-buscar.ml-2 {
    border: none;
    background: rgba(0, 143, 143, 1);
    width: 120px;
    color: #fff;
    border-radius: 6px;
}

.endmain.col-md-6 {
    justify-content: end;
    text-align: end;
    display: flex;
}

.limittic {
    width: 50%;
}

/*dashboard*/

.wlcmone {
    width: 100%;
    text-align: start;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    height: auto;
}

.iconwlc {
    color: rgba(255, 206, 86, 1);
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
}

.main-content-head {
    left: 295px;
    position: absolute;
    width: calc(100vw - 325px) !important;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 8px;
}

div#dash {
    height: calc(90vh - 25px);
    left: 295px;
    position: absolute;
    width: calc(100vw - 325px) !important;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 8px;
    margin-top: 106px;
}

.ticketicon {
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(0, 143, 143, 0.1);
    padding-top: 5px;
}

td.icontk {
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

td {
    vertical-align: baseline;
}

td.icontk {
    justify-content: center;
    text-align: center;
    align-items: center;
}

td.icontk {
    position: relative;
}

tr.table-header {
    background: rgba(0, 143, 143, 1);
}

.headtiket.col {
    padding-top: 10px;
}

.headtiket.col h6 {
    font-size: 20px;
}

.headtiket.col {
    border-bottom: 1px solid #D6D6D6;
}

/*info ticket*/
.datashow {
    display: grid;
}

.bg-white {
    background-color: rgb(155, 153, 153);
}

input.inputshow {
    height: 45px;
    border-radius: 6px;
    padding-left: 10px;
    background: #efefef;
    border: none;
}

label.labeltk {
    margin-bottom: 5px;
}

.tkt.form-floating label {
    padding-left: 26px;
}

.addusr.row {
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
}

div#create {
    text-align: end;
}

div#closeone button.btn.btn-primary {
    background: gray;
    border: none;
    width: 120px;
}

.activeus {
    background-color: green;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
    color: white;
}

.blockedus {
    background-color: red;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
    color: white;
}

aside.menu.sidebar.small {
    width: 80px;
}

aside.menu.sidebar.small ul.menu-list {
    margin: 0;
    border: none;
}

aside.menu.sidebar.small ul.menu-list span {
    display: none;
}

aside.menu.sidebar.small ul.menu-list li#operaciones {
    border: none !important;
}

aside.menu.sidebar.small ul.menu-list li {
    border: none;
}

.main-content.extend {
    width: calc(100vw - 128px);
    left: 103px;
}

ul.menu-list.pb-6.pt-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.triggerwidth {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.triggerwidth:hover {
    border: 1px solid #D6D6D6;
}

.hide {
    display: none;
}

.triggerwidthsmall {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}

.item-column {
    display: grid;
}

.date-input {
    height: 38px;
    border-radius: 8px !important;
    border-radius: 4px !important;
}

.react-date-picker__wrapper {
    border-radius: 8px;
    border: 1px solid rgba(85, 82, 217, 0.24) !important;
}

.select-options {
    height: 38px !important;
    border-radius: 8px !important;
    border: 1px solid rgba(85, 82, 217, 0.24);
}

button.button.btn-other {
    height: 38px;
    border-radius: 8px;
    border: 1px solid rgba(85, 82, 217, 0.24);
}

.column.align.col {
    justify-content: center;
    text-align: center;
    vertical-align: center;
    padding-top: 1.5rem;
}

.dataIsOk {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dataIsOkContent.row {
    margin-bottom: 25px;
    margin-top: 15px;
}

.dataIsOkContent.row ion-icon {
    color: green;
    font-size: 50px;
}

.exportdata {
    width: 180px;
    cursor: pointer;
}

.exportdata:hover {
    color: #008F8F;
}

input#custom-switch {
    font-size: 15px;
}

.red {
    color: red;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

aside.menu.sidebar.small ul.menu-list li#logout {
    margin: 0;
    border-top: none;
}

ul.menu-list li {
    text-align: center;
    justify-content: center;
    display: flex;
}

div#_btnBlock {
    cursor: pointer;
}

aside.menu.sidebar.small ul.menu-list {
    padding: 0;
}

.dataIsOkContent.warning.row ion-icon {
    color: orange;
}

.modaltitle.modal-title.h4 {
    text-transform: uppercase;
}

.permissonbox.col {
    justify-content: center;
    text-align: center;
    border: 1px solid #D6D6D6;
    padding: 10px;
    border-radius: 8px;
}

.d-flex.orderrrr {
    justify-content: space-between;
}

.prm {
    background: #008F8F;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.newpermissons {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
}

.endmainnn.notallowed.col-md-6 {
    cursor: not-allowed;
    justify-content: end;
    text-align: end;
    display: flex;
}

.datashow.mt-3.notallowed {
    cursor: not-allowed;
}

.datashow.mt-3.notallowed.btnadd {
    border: 1px solid;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(0, 143, 143, 1);
    border: none;
    color: white;
    opacity: 0.3;
}

.btnadd-not-allowed {
    border: 1px solid;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(0, 143, 143, 1);
    border: none;
    color: white;
    opacity: 0.3;
}

.no-data {
    text-align: center;
    justify-content: center;
}

.no-data ion-icon {
    font-size: 30px;
    color: rgba(0, 143, 143, 1);
}

li#adust {
    border: 1px solid #D6D6D6;
    padding: 5px;
    border-radius: 5px;
}

ul.menu-list li#adust:hover {
    background-color: rgba(0, 143, 143, 1) !important;
    border: 1px solid rgba(0, 143, 143, 1);
    color: white !important;
}

li#adust a:hover {
    color: white !important;
}

.data-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

.Confirm-data {
    border: 1px solid #D6D6D6;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}


span.icon-mail ion-icon.md.hydrated {
    color: green;
    font-size: 45px;
}

.alertUnique {
    font-size: 10px;
    color: red;
    text-transform: lowercase;
}

button.resetpassword.btn.btn-primary {
    background: orange;
    border: none;
}

button.resetpassword.btn.btn-primary:hover {
    background: yellow;
    color: black;
}

.box-reset {
    width: 100%;
    height: 100vh;
    background: url('../images/backreset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-reset.container-fluid {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.contenttext.col-md-6 {
    background: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

h5.title-details.ml-5.pt-3 {
    text-align: center;
}

div#createdd\ d-grid {
    display: grid;
}

span.txtnoiden {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
    color: red;
}

.colorlink a {
    text-decoration: none;
    text-decoration: none;
}

.headtiket {
    text-transform: uppercase;
}

.clipboard {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #D6D6D6;
    font-size: 14px;
}

.txttd {
    text-align: center !important;
    justify-content: center !important;
    position: absolute;
    left: 4px;
    top: 4px;
}

.clipboard:hover {
    background-color: rgba(2, 255, 65, 0.21) !important;
}

.main-content-tkt {
    left: 295px;
    position: absolute;
    width: calc(100vw - 329px);
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 8px;
}

.main-content-tkt.extend {
    width: calc(100vw - 128px);
    left: 103px;
}

.tiktop {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}


div#_btnDeletetkt {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px;
}

div#_btnEdittkt:hover {
    color: green;
    border: 1px solid green;
}

div#_btnDeletetkt:hover {
    color: red;
    border: 1px solid red;
}

div#_btnDeletetktd {
    cursor: not-allowed;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px;
}

div#_btnDeletetkt:hover {
    color: white;
    border: none;
}

div#_btnAlta {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px;
}

div#_btnAltad:hover {
    color: white;
    border: none
}

div#_btnAltad {
    cursor: not-allowed;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px;
}

div#_btnAlta:hover {
    color: green;
    border: 1px solid green;
}


div#_btnBaja {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px;
}

div#_btnBaja:hover {
    color: blue;
    border: 1px solid blue;
}

div#_btnBajad {
    cursor: not-allowed;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px;
}

div#_btnBajad:hover {
    color: white;
    border: none;
}

div#_btnEdittkt {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    padding: 5px;
}

.lbltkt.row {
    margin-left: 3px;
}

.no-borders.form-control {
    background: none;
}

.no-borders.form-control:hover {
    background: white;
    border: 1px solid #D6D6D6 !important;
}

.card {
    border: 1px solid #D6D6D6;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
    padding: 5px;
}

.dots {

    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.badge {
    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.user-img {
    margin-top: 4px;
}

.check-icon {
    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.form-check-input {
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}


.form-check-input:focus {
    box-shadow: none;
}


.icons i {

    margin-left: 8px;
}

.reply {

    margin-left: 12px;
}

.reply small {

    color: #b7b4b4;

}


.reply small:hover {

    color: green;
    cursor: pointer;

}

.col-md-9 {
    padding: 0;
}

.fw-bold {
    font-weight: 600 !important;
    font-size: 12px;
    color: rgba(0, 143, 143, 1);
}

.card-body.p-2 {
    border-top: 1px solid #D6D6D6;
}

.mr-2 {
    margin-right: 10px;
}

.tithis {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.colorfont {
    color: #008F8F;
}

div#closeone {
    text-align: start;
}

.dfasfd.mt-3.row {
    border-top: 1px solid #D6D6D6 !important;
    padding-top: 10px;
}

form#editticket {
    width: 100%;
}

span.assignedto {
    text-transform: capitalize;
}

.failtxt {
    color: red;
}

.oktxt {
    color: green;
}

.warntxt {
    color: orange;
}

input.inputshow.asgined {
    text-transform: capitalize;
}

.ticketchart {
    padding: 1rem;
    border: 0.5px solid rgba(71, 71, 71, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.labeldata.row {
    padding-left: 10px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    /* background: red; */
    padding: 10px;
}

.qr-imagen {
    text-align: center;
}

div#datainfo {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
}

h6.datatitle {
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 6px;
    color: #213654;
}

span.spantitle {
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.icon-info {
    color: #46c35f;
    margin: auto;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
}

.icon-info-two {
    color: #f29824;
    margin: auto;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
}

.icon-info-three {
    margin: auto;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: #FCC233;
}

.icon-info-four {
    margin: auto;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: #008dd6;
}

.shortlist {
    padding: 5px;
    border: 0.5px solid rgba(71, 71, 71, 0.1);
    border-radius: 8px;
}

.shortlist table.table-list.table.mt-2 thead tr.table-header {
    font-size: 10px;
}

.shortlist table.table-list.table.mt-2 tbody tr.rowtable {
    font-size: 12px;
    height: 35px !important;
}

.sectioncrypto {
    padding: 5px;
    border: 0.5px solid rgba(71, 71, 71, 0.1);
    border-radius: 8px;
    margin: 10px;
}

.dolaricon {
    color: green;
    font-size: 30px;
}

.dolaricon {
    color: green;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.dolaricon {
    color: green;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-right: 43px;
    margin-left: 10px;
}

p {
    margin-bottom: 10px;
}

.row h4.resumen {
    color: white;
    padding: 10px;
    border-bottom: 1px solid#D6D6D6 !important;
    border-top: 1px solid#D6D6D6 !important;
    background-color: rgba(0, 143, 143, 1);
}

ul.menu-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
}

div#_btnBloq:hover {
    cursor: pointer;
    color: red;
}

.shortlist.item {
    border: none;
}

.dolar-content__icon {
    margin: auto;
}

span.spandollar {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.box-container-data {
    margin: 10px;
    border: 1px solid #E5E7EB;
    padding: 10px;
    border-radius: 10px;
}

input.inputshow.client {
    height: 45px;
    border-radius: 6px;
    padding-left: 10px;
    background: white;
    border: 1px solid #E5E7EB;
}

.mapl {
    margin-top: 7.5rem;
}

.shortlist table.table-list.table.mt-2 tr.table-header {
    background: rgba(0, 143, 143, 1);
}

.shortlist table.table-list.table.mt-2 tr.table-header th.al .is-inline-flex a {
    color: white !important;
}

.operations.col-md-8 table.table-list.table.mt-2 tr.table-header {
    background: rgba(0, 143, 143, 1);
}

.operations.col-md-8 table.table-list.table.mt-2 tr.table-header th.al .is-inline-flex a {
    color: white !important;
}

table.table-list.table.mt-2 tr.table-header th.al .is-inline-flex a {
    color: white !important;
}

.d-grid.pt-3.headerdetails.row {
    background: rgba(0, 143, 143, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

.colorlink.ticketsdetails a {
    color: white !important;
}

.d-flex.headsummary.col {
    background: rgba(0, 143, 143, 1);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-top: 10px;
}

.offtxt {
    color: blue;
}

.box-container-data {
    padding-top: 0px;
}

h4.resumen.operations {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

div#box-cant-value {
    padding: 1rem;
    border-radius: 8px;
    margin: 1px;
    background: #00638124;
}

span.days {
    font-size: 12px;
}

span.days.tommorrow {
    padding: 5px;
    background: orange;
    border-radius: 8px;
    color: white;
}

span.days.today {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: green;
    border-radius: 8px;
    color: white;
}

span.days.counting {
    padding: 5px;
    background: rgb(255, 105, 105);
    border-radius: 8px;
    color: white;
}

select#clientimp {
    text-transform: capitalize;
}

.Box-article.col {
    border: 1px solid #E5E7EB;
    height: auto;
    border-radius: 8px;
    padding-left: 20px;
    margin: 1rem
}

.headtiket.imp.d-flex.col {
    text-transform: none;
}

.iconimpr.col-md-1 {
    font-size: 20px;
    color: green;
}

.box-diff.col {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 40px;
    background: orange;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
}

.tdfe {
    padding-top: 0.5rem;
    font-weight: 800;
}

.card-body.dd {
    border-top: 1px solid #D6D6D6;
}

.d-flex.flex-start {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

p#commentsection {
    border-left: 1px solid #E5E7EB;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}

p.mb-0.styledate {
    font-size: 12px;
}

.aend {
    text-align: end;
    color: blue;
    font-size: 13px !important;
    font-weight: 500;
}

.aend.col p:hover {
    cursor: pointer;
}

select#changearticle {
    border: 1px solid rgba(0, 143, 143, 1);
}



.mt-2.row {
    padding: 12px;
}

.mt-2.row textarea.txttt.form-control {
    min-height: 100px;
    height: auto;
}

div#historiaal {
    padding-left: 10px;
    border-left: 1px solid rgba(0, 143, 143, 1);
    margin-left: 10px;
    padding-top: 10px;
}

.cerradooo {
    background-color: rgb(84, 203, 84) !important;
    color: white;
}

.pdfend.col {
    text-align: end;
    margin-top: 10px;
}

.widget {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px -15px 20px 0;
}

.element {
    min-width: 170px;
    width: auto;
    padding: 12px 15px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    margin: 0 15px 15px 0;
    flex: 1 1 auto;
}

.widget .element .change.green {
    color: #52cca5;
}

.element {
    min-width: 170px;
    width: auto;
    padding: 12px 15px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 2PX 2px 2px 2px rgb(0 0 0 / 5%);
    margin: 0 15px 15px 0;
    flex: 1 1 auto;
}


span.statusinfo.oktxt {
    background-color: green;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

span.statusinfo.offline {
    background-color: red;
    padding-left: 10px;
    color: white;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

span.statusinfo.online {
    background-color: green;
    padding-left: 10px;
    color: white;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}


span.statusinfo.offtxt {
    background-color: blue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

span.statusinfo.failtxt {
    background-color: rgb(255, 0, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

.css-kb1ety {
    border-bottom-width: 1px;
    border-color: #3F414B;
    padding: 0.75rem;
}


.css-6qnch9 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(97 101 108 / var(--tw-text-opacity));
}

.css-89u161 {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--bg-card);
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: #efefef;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: var(--tw-empty, );
    --tw-pan-y: var(--tw-empty, );
    --tw-pinch-zoom: var(--tw-empty, );
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: var(--tw-empty, );
    --tw-slashed-zero: var(--tw-empty, );
    --tw-numeric-figure: var(--tw-empty, );
    --tw-numeric-spacing: var(--tw-empty, );
    --tw-numeric-fraction: var(--tw-empty, );
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-blur: var(--tw-empty, );
    --tw-brightness: var(--tw-empty, );
    --tw-contrast: var(--tw-empty, );
    --tw-grayscale: var(--tw-empty, );
    --tw-hue-rotate: var(--tw-empty, );
    --tw-invert: var(--tw-empty, );
    --tw-saturate: var(--tw-empty, );
    --tw-sepia: var(--tw-empty, );
    --tw-drop-shadow: var(--tw-empty, );
    --tw-backdrop-blur: var(--tw-empty, );
    --tw-backdrop-brightness: var(--tw-empty, );
    --tw-backdrop-contrast: var(--tw-empty, );
    --tw-backdrop-grayscale: var(--tw-empty, );
    --tw-backdrop-hue-rotate: var(--tw-empty, );
    --tw-backdrop-invert: var(--tw-empty, );
    --tw-backdrop-opacity: var(--tw-empty, );
    --tw-backdrop-saturate: var(--tw-empty, );
    --tw-backdrop-sepia: var(--tw-empty, );
}

.convert-table2 {
    width: 100%;
    text-align: left;
}

#exch-table .name-wrpapper,
.convert-table2 .name-wrpapper {
    display: flex;
    align-items: center;
}

span.dete ion-icon.md.hydrated {
    font-size: 34px;
}

ul.ulguia {
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li.liguia {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgtkg img {
    height: 60px;
    width: 60px;
}

span.days.past {
    background: rgb(255, 80, 80);
    border-radius: 8px;
    padding: 5px;
    color: white;
}

button.button.btn-cli {
    height: 38px;
    border-radius: 8px;
    border: none;
    background: rgba(0, 143, 143, 1);
    width: 120px;
    color: #fff;
    border-radius: 6px;
}

h4.resumen.details.derd {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dividefilters.row {
    border-top: 1px solid #E5E7EB;
    margin: 1px;
}

input#downloadextract:hover {
    border: 1px solid #00a8ff;
    color: #00a8ff;
}

.main-dump.delete {
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-auto-columns: min-content;
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.widget-chart.text-left {
    flex-direction: row;
    align-items: center;
}

.widget-chart {
    text-align: center;
    padding: 1rem;
    position: relative;
}

.widget-chart.text-left {
    flex-direction: row;
    align-items: center;
}

.icon-wrapper.rounded-circle ion-icon.md.hydrated {
    background: #ffffff;
    font-size: 24px;
    height: 30px;
    width: 30px;
    color: rgb(31, 172, 248);
}

span.cierremining {
    font-size: 12px;
    color: blue;
}

.btnadd-not-allowed input.btnadd:hover {
    border: none;
    background: none;
    color: white;
}

.btnadd input.btnadd.op:hover {
    border: none;
}

input.btnadd.op {
    background: none;
}

div#_btnEditd {
    cursor: not-allowed;
    opacity: 0.4;
}

div#_btnBloqd {
    cursor: not-allowed;
    opacity: 0.4;
}

div#_btnDeleted {
    opacity: 0.4;
    cursor: not-allowed;
}

.actionstwo.d-grid.mt-3 div#_btnDeletetkt:hover {
    color: red;
    border: 1px solid red;
}